body{
  background-color: #EAF6F6;
  font-family: "Times New Roman", Times, serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  height: 0px;
  width:4%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
